.general {
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0067A3;
}

@media screen and (max-width: 720px) {
    .general {
        flex-direction: column;
    }
}