@font-face {
    src: url("./fonts/Roboto-Regular.ttf");
    font-family: "Roboto";
}

.App {
    max-width: 1235px;
    margin: 10px auto;
}

/*Подходит для 300px*/
@media screen and (max-width: 480px) {
    .App {
        margin: 0px auto;
    }
}